*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    padding: 15px;
    color: white;
    span{
        position: relative;
        cursor: pointer;
        i{
            color: orange;
            padding: 0px 5px !important;
        }
    }
    .inside{
        border-top: 2px solid orange;
        display: none;
        position: absolute;
        background-color: black;
        top: 150%;
        left: 5%;
        width: 190px;
        color: white;
        z-index: 999;
        padding: 10px;
        text-align: left;
        p{
            padding: 8px 10px;
        }
    }
    .inside2{
        border-top: 2px solid orange;
        display: none;
        position: absolute;
        background-color: black;
        top: 150%;
        right: 15%;
        width: 190px;
        color: white;
        z-index: 999;
        padding: 10px;
        text-align: left;
        p{
            padding: 8px 10px;
        }
    }
    .span1{
        padding: 0px 10px;
        border-right: 1px solid gray;
        i{
            color: orange;
            padding: 0px 5px !important;
        }
    }
    i{
        padding: 0px 8px;
    }
    button{
        background-color: orange;
        color: white;
        border: none;
        padding: 3px 5px;
    }
}



.bawliq{
    background-color: #fcfcfc;
    .container{
        padding: 20px 0px;
        border: 1px solid gray;
        .all{
            .col-lg-10{
                padding: 0%;
                margin: 0%;
                .dropdown{
                    position: relative;
                    display: inline-block;
                    font-size: 16px;
                    margin: 5px 20px;
                    &:hover{
                        .dropbtn{
                            color: #6c757d;
                        }
                        .drop-content{
                            background-color:#fcfcfc;
                            visibility: visible;
                            top: 150%;
                            transition: 0.2s;
                            color: black;
                        }
                    }
                    .drop-content{
                        background-color: #778597;
                        padding: 20px;
                        position: absolute;
                        min-width: 200px;
                        top: 220%;
                        left: 0%;
                        visibility: hidden;
                        transition: 0.2s;
    
                        a{
                            text-align:left;
                            padding: 10px 0px;
                            display: block;
                            text-decoration: none;
                            color: black;
                            &:hover{
                                color: #06b3e5;
                            }
                        }           
                    }
                    .dropbtn{
                        color: black;
                        text-decoration: none;
                    }
                }
    
            }
        }

    }

}